body
    {
        background-color:floralwhite;
        
}



#container
            {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }





header
    { 
        background-color: #f2f2f2;
        margin-bottom: 40px;
        margin-top: 20px;
        /*border-radius: 10px;*/
        box-shadow: 5px 5px 5px ;
    }
nav
    {
        text-align: center;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: bolder;
    }

.center
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 75px;
            
        }
main
        {
            display:block;
            margin-left: auto;
            margin-right:auto;
            padding-left: 33px;
            padding-right: 33px;  
           
        }
#welcome
        {
         display:block;
         text-align: left;
         background-color: azure;
         padding-bottom: 360px;
         border: solid 2px;
         border-radius: 10px;
         margin:auto
            
            
            
            
}







.studio
        {
            float: left;
            height: 355px;
            width: 450px;
            box-shadow: 2px 2px 2px 2px;
            position:relative;
            
        }

#first
        
        {
            float: right;   
            padding-right: 15px;
            position:relative;
            font-size: 13pt;
            
        }



#second
        {
         display:block;
         text-align: center; 
         margin-bottom: 200px;
        }

#review1
        {
            float:left;
            background-color:white;
            padding-top: 20px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            border: solid 2px;
            box-shadow: 7px 7px;
            border-radius: 25px;
            margin-left: 215px;
            
}

#review2
        {
            float:left;
            background-color:white;
            padding-top: 20px;
            padding-bottom: 25px;
            border: solid 2px;
            box-shadow: 7px 7px;
            border-radius: 25px;
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 150px;     
            
            
            
}
            
.clearfloat 
        {
            clear:both;
            
    
        }

#how
        {
         display:block;
         text-align: left;
         background-color: azure;
         padding-bottom: 250px;
         border: solid 2px;
         border-radius: 10px;
         margin:auto
           
}


#how1
        {
            display:block;
            float:left;    
            padding-left: 10px;
            font-size: 16pt
            
        }

#how2

        {
            display:block;
            float:left;    
            padding-left: 120px ;
            font-size: 16pt
            
        }

#how3

        {
            display:block;
            float:left;    
            padding-left: 80px;
            font-size: 16pt;
        }
.mixing

        {
            float: right;
            height: 355px;
            width: 450px;
            box-shadow: 2px 2px 2px 2px;
            position:relative;            
            margin-right: 30px;
}

#mixing
        {
            margin-bottom: 100px
            
            
}

#mixtext
        {
            font-size: 16pt;
            padding-left: 150px
            
            
            
}

.mastering
            {
            float: left;
            height: 355px;
            width: 450px;
            box-shadow: 2px 2px 2px 2px;
            position:relative;            
        ;               
                
}

#mastertext
            {
             float:right;
             font-size: 16pt;
             padding-left: 10px;
             margin-right:30px;   
                
                
}

#mastering
            {
             display:block;
             text-align: left;
             background-color: azure;
             padding-bottom: 360px;
             border: solid 2px;
             border-radius: 10px;
             margin-bottom:auto;
                
                
}
footer
        {
            background-color:black;
            color: white;
            font-size: 10pt           
}